@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Escola Casa Stark</h1>
    <p class="lead">

    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Contato</h2>
        <p>
            <strong>Direção: </strong> direcao@casastark.com<br/>
            <strong>SAC: </strong>0800 099 088<br/>
            <strong>Ouvidoria: </strong> 0800 888 000 - ouvidoria@casastark.com
        </p>
    </div>
    <div class="col-md-6">
        <h2>Sobre</h2>
        <br/>
        <p  align="justify">
            A escola de Ensino Fundamental e Médio Casa Stark, foi construída pela Secretaria de Educação do Ceará, no ano de 1937, por iniciativa do Sr. Prefeito Francisco Júlio Filizola.
            As atividades escolares tiveram início no mesmo ano de sua construção e inaugurada solenemente em 1940. Tendo como primeira diretora a Profª. Belísia Alencar. Atualmente está sob a administração de Rita de Cássia de Carvalho Lopes Ribeiro (DIRETORA GERAL), Marta Maria Moura Gonçalves e Ana Célia de Brito Campos (COORDENADORAS ESCOLARES) e Terezinha Rodrigues Felisbino (SECRETÁRIA ESCOLAR).
            Conforme decreto nº 27.327 de 31 de dezembro de 2003 publicado no D.O. de 12 de janeiro de 2004 foi implantado o Ensino Médio neste estabelecimento, tendo a seguinte denominação: ESCOLA DE ENSINO FUNDAMENTAL E MÉDIO CASA STARK
        </p>
    </div>
</div>